{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Liste des Cours</h2>
  <a href="/cours/ajoutCours/" class="btn btn-success">+ Ajouter un cours</a>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Professeur</th>
      <th>Classe</th>
      <th>Date de début</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for c in cours %}
<tr>
  <td>{{ c.titre }}</td>
  <td>{{ c.professeur }}</td>
  <td>{{ c.classe }}</td>
  <td>{{ c.date_debut }}</td>
  <td>
    <a href="/cours/editCours/{{ c.id }}/" class="btn btn-sm btn-warning">Modifier</a>
    <a href="/cours/deleteCours/{{ c.id }}/" class="btn btn-sm btn-danger"
     onclick="return confirm('Voulez-vous vraiment supprimer ce cours ?')">Supprimer</a>
  </td>
</tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}